html,body{
    padding: 0;
    margin: 0;
    font-size: 0.14rem;
}

.f_left{
    float: left;
}
.f_right{
    float: right;
}

ul{
    padding: 0;
    margin: 0;
    li{
        list-style: none;
    }
}

.clearfix:after{
    content: "";
    display: block;
    height: 0;
    clear: both;
}

.title{
    width: 100%;
    height: 1rem;
    line-height: 1rem;
    font-weight: 500;
    background: #4070bf;
    color:#fff;
    font-size:0.46rem;
}