html,body{
    padding: 0;
    margin: 0;
    font-size: 0.14rem;
}

.f_left{
    float: left;
}
.f_right{
    float: right;
}

ul{
    padding: 0;
    margin: 0;
    li{
        list-style: none;
    }
}

.clearfix:after{
    content: "";
    display: block;
    height: 0;
    clear: both;
}

.title{
    width: 100%;
    height: 1rem;
    line-height: 1rem;
    font-weight: 500;
    background: #4070bf;
    color:#fff;
    font-size:0.46rem;
}

input{
    height: 0.8rem;
    width: 100%;
    line-height: 0.8rem;
    padding: 0 0.2rem;
    background: #fff;
    border-radius: 5px;
    font-size: 0.26rem;
    border:none;
    box-sizing: border-box;
    margin: 0.2rem 0;
    &:focus{
        outline: none;
    }
}

button{
    border:none;
    padding: 0;
}
button:focus{
    outline: none;
}